/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define NAV 1
#define SYM 2
#define FUNC 3
#define FKEYS 4
#define MOUSE 5

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    // Activate FUNC layer by pressing NAV and SYM together
    conditional_layers {
        compatible = "zmk,conditional-layers";
        func_layer {
            if-layers = <NAV SYM>;
            then-layer = <FUNC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | ESC  |
            //                    | LALT| NAV | SPC |   | ENT | SYM | LGUI|
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                              &kp LALT &mo NAV &kp SPACE   &kp RET &mo SYM &kp LGUI
            >;
        };

        nav_layer {
            display-name = "NAV";
            // --------------------------------------------------------------------------------
            // | BOOT |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL  |
            // |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
            // | SHFT |  <  |  v  |  ^  |  >  |FKEYS|   | HOME| PGDN| PGUP| END |     |      |
            //                    | LALT| ### | SPC |   | ENT | SYM | LGUI|
            bindings = <
                &bootloader &kp N1   &kp N2   &kp N3 &kp N4    &kp N5      &kp N6   &kp N7    &kp N8    &kp N9  &kp N0 &kp DEL
                &trans      &kp N1   &kp N2   &kp N3 &kp N4    &kp N5      &kp N6   &kp N7    &kp N8    &kp N9  &kp N0 &trans
                &kp LSHFT   &kp LEFT &kp DOWN &kp UP &kp RIGHT &tog FKEYS  &kp HOME &kp PG_DN &kp PG_UP &kp END &trans &trans
                                          &kp LALT &trans &kp SPACE   &kp RET &mo SYM &kp LGUI
            >;
        };

        sym_layer {
            display-name = "SYM";
            // --------------------------------------------------------------------------------
            // |   ~  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BOOT |
            // | CTRL |  <  |  >  |  {  |  }  |  |  |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |  (  |  )  |  &  |   |  _  |  +  |  {  |  }  |  /  |  ~   |
            //                    | LALT| NAV | SPC |   | ENT | ### | LGUI|
            bindings = <
                &kp TILDE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &bootloader
                &kp LCTRL &kp LT   &kp GT &kp LBRC &kp RBRC &kp PIPE    &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
                &kp LSHFT &trans   &trans &kp LPAR &kp RPAR &kp AMPS    &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp FSLH &kp TILDE
                                          &kp LALT &mo NAV &kp SPACE   &kp RET &trans &kp LGUI
            >;
        };

        func_layer {
            display-name = "FUNC";
            // --------------------------------------------------------------------------------
            // |BTCLR | BT1 | BT2 | BT3 | BT4 | BT5 |   |RGBT |RGB+ |RGB- | HUE+| HUE-| UNLK |
            // | CTRL | Prev| Play| Next| Vol-| Vol+|   |Mute |SAT+ |SAT- | EFF |EXTPW|      |
            // | SHFT |     |     |     |     |MOUSE|   |BOOT | RST |     |     |     |      |
            //                    | LALT| ### | SPC |   | ENT | ### | LGUI|
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_HUI &rgb_ug RGB_HUD &studio_unlock
                &kp LCTRL  &kp C_PREV   &kp C_PP     &kp C_NEXT   &kp C_VOL_DN &kp C_VOL_UP   &kp C_MUTE      &rgb_ug RGB_SAI &rgb_ug RGB_SAD &rgb_ug RGB_EFF &ext_power EP_TOG &trans
                &kp LSHFT  &trans       &trans       &trans       &trans       &tog MOUSE     &bootloader     &sys_reset      &trans          &trans          &trans           &trans
                                                          &kp LALT &trans &kp SPACE   &kp RET &trans &kp LGUI
            >;
        };

        fkeys_layer {
            display-name = "FKEYS";
            // --------------------------------------------------------------------------------
            // |      | F1  | F2  | F3  | F4  |     |   |     | F5  | F6  | F7  | F8  |      |
            // |      | F9  | F10 | F11 | F12 |     |   |     |CAPS |SLCK |NLCK |PAUSE|      |
            // | SHFT |     |     |     |     |EXIT |   |     | INS |PSCRN|SLCK |     |      |
            //                    | LALT|     | SPC |   | ENT |     | LGUI|
            bindings = <
                &trans    &kp F1 &kp F2  &kp F3  &kp F4  &trans      &trans &kp F5   &kp F6    &kp F7       &kp F8      &trans
                &trans    &kp F9 &kp F10 &kp F11 &kp F12 &trans      &trans &kp CAPS &kp SLCK  &kp KP_NLCK  &kp PAUSE_BREAK &trans
                &kp LSHFT &trans &trans  &trans  &trans  &tog FKEYS  &trans &kp INS  &kp PSCRN &kp SLCK     &trans      &trans
                                         &kp LALT &trans &kp SPACE   &kp RET &trans &kp LGUI
            >;
        };

        mouse_layer {
            display-name = "MOUSE";
            // --------------------------------------------------------------------------------
            // |      |     |     |     |     |     |   |SCR_U|     | M_U |     |     | EXIT |
            // | CTRL | MB4 | MB2 | MB3 | MB1 |     |   |SCR_D| M_L | M_D | M_R |     |      |
            // | SHFT |     |     |     |     |     |   |SCR_L|SCR_R|     |     |     |      |
            //                    | LALT| MB2 | MB1 |   | MB1 | MB2 | LGUI|
            bindings = <
                &trans    &trans   &trans   &trans   &trans   &trans   &msc SCRL_UP   &trans         &mmv MOVE_UP   &trans          &trans &tog MOUSE
                &kp LCTRL &mkp MB4 &mkp MB2 &mkp MB3 &mkp MB1 &trans   &msc SCRL_DOWN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans &trans
                &kp LSHFT &trans   &trans   &trans   &trans   &trans   &msc SCRL_LEFT &msc SCRL_RIGHT &trans        &trans          &trans &trans
                                            &kp LALT &mkp MB2 &mkp MB1   &mkp MB1 &mkp MB2 &kp LGUI
            >;
        };
    };
};
